.my-page {
  border: 0;
}

.content .title {
  font-size: 1.5rem;
}

.container {
  padding: 0 116px;
  font-family: 'Monaco', monospace;
}

.hidden {
  opacity: 0;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
}
